
.ipynb_checkpoints/

stageA/.ipynb_checkpoints/
stageB/.ipynb_checkpoints/


stageB/energy1.ipynb
stageB/energy2.ipynb
stageB/energy3.ipynb
stageB/energy4.ipynb
stageB/lr.ipynb
stageB/lr_2.ipynb


stageA/eda.py
stageA/eda_analysis.ipynb

stageB/ENB2012_data.xlsx
